body {
     margin: 0;
     padding: 0;
}

#root {
     display: grid;
     grid-template-columns: repeat(5, 1fr);
     gap: 2px;
}

.button {
     height: 20rem;
     background-color: black;
     cursor: pointer;
}

.hover:hover {
     background-color: #b4b4b4;
}

.active {
     background-color: #212121;
}