#video {
    width: 50%;
}

#video::-webkit-media-controls {
    display: none;
}

#play-video {
    background: transparent;
    border: 0;
    position: absolute;
    left: 10px;
    bottom: 10px;
    cursor: pointer;
}

#play-video:hover {
    opacity: .9;
}

#control {
    position: absolute;
    bottom: 10px;
    left: 60px;
    width: 30%;
}

#fullscreen{
    position: absolute;
    bottom: 10px;
    left: 40%;
}

.container-video {
    position: relative;
}

#play-video:fullscreen{
    position: fixed;
    bottom: 0;
    left: 0;
}

#play::-webkit-full-screen {
    position: fixed;
    bottom: 0;
    left: 0;
}