body {
  background-color: #212121;
}
.container-video {
  width: 60%;
  position: relative;
  z-index: 1;
}

#video {
  z-index: 1;
  display: block;
  width: 100%;
}

.controls-video {
  background-color: rgba(6, 6, 6, 0.812);
  position: absolute;
  display: flex;
  align-items: center;
  gap: 15px;
  bottom: 0px;
  height: 40px;
  width: 100%;
  z-index: 10;
}

#fullscreen {
  margin-left: auto;
}

#control {
  width: 100%;
}

button {
  background: transparent;
  border: 0;
  cursor: pointer;
  color: white;
  font-weight: 500;
}

#video::-webkit-media-controls {
  display: none;
}

.controls-video:fullscreen {
  position: fixed;
}
.controls-video:-moz-full-screen {
  position: fixed;
}
.controls-video:-ms-fullscreen {
  position: fixed;
}
.controls-video:-webkit-full-screen {
  position: fixed;
}

/* audio */
.container-audio {
  background-color: black;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding-bottom: 1rem;   
}

#control-audio {
  appearance: none;
  width: 100%;
  background-color: rgb(23, 36, 40);
  height: 10px;
}

.controls-audio {
  margin-bottom: 30px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#control-audio::-webkit-slider-thumb {
  appearance: none;
  background-color: rgb(54, 73, 78);
  height: 20px;
  width: 20px;
  border-radius: 50%;
}