$fontColor: #fff;
$backgroundColor: #212121;

body {
    color: $fontColor;
    background-color: $backgroundColor;
}

$borderDeclaration: 1px $fontColor solid; /* -> using vars in new vars  */

p {
    border: $borderDeclaration;
}

.article {
    background-color: black;
    p {
        line-height: 1em;
    }
    img {
        width: 400px;
        border-radius: 10px;
    }
}