$primaryColor: #528d5e;
$secondaryColor: #58539c;
$gradient: linear-gradient(to right, $primaryColor, $secondaryColor);

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
}

