body, h1 {
    margin: 0;
    padding: 0;
}

.container {
    height: 100vh;
    background-color: violet;
    display: flex;
    justify-content: center;
    align-items: center;
}

.green {
    background-color: aquamarine;
}

.blue {
    background-color: dodgerblue;
}

.yellow{
    background-color: yellow;
}

#scroll {
    position: fixed;
    right: 10px;
    bottom: 10px;
    display: none;
    transition: opacity .5s ease-in;
}